.login {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.login__header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 45px;
}

.login__logo {
  height: 30px;
}

.login__register-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.login__line {
  width: 70%;
  margin: 40px 0;
}

.login__title {
  font-size: 24px;
  font-weight: 900;
  color: white;
  margin-bottom: 50px;
}

.login__form {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.login__input {
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  font-size: 14px;
  padding: 10px 0;
  margin-bottom: 30px;
}

.login__input::placeholder {
  color: #cccccc;
}

.login__submit-button {
  height: 50px;
  background: white;
  color: black;
  border: none;
  margin-top: 120px;
  cursor: pointer;
  font-size: 16px;
}

.login__signup {
  margin-top: 15px;
  color: white;
  font-size: 14px;
}

.login__signup-link {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 1000px) {
  .login__form {
    width: clamp(280px, 45%, 80%);
  }
}
